*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  min-width: 280px;
  font-family: "Roboto", sans-serif;
}
body .body__container {
  height: inherit;
  width: inherit;
  min-width: 280px;
  position: relative;
}
body a {
  text-decoration: none;
  color: black;
}
body ul {
  list-style-type: none;
}

header {
  position: relative;
}
header h1 {
  width: 100vw;
  min-width: 280px;
  height: 70px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 10px 0;
  box-shadow: 0 5px 5px -5px #333;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
}
header .fa-chevron-left {
  position: fixed;
  left: 20px;
  top: 35px;
  transform: translateY(-50%);
  color: black;
  z-index: 200;
  font-size: 1.5rem;
}

.cta {
  padding: 15px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  transition: all 200ms;
}
.cta:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: -1px 15px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 15px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 15px 5px 0px rgba(74, 74, 74, 0.24);
}

svg {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 30px;
  bottom: 25px;
}
svg path {
  transition: opacity 500ms;
}

.heart-solid path {
  opacity: 0;
}

.heart-regular {
  z-index: 10;
}
.heart-regular:hover path {
  opacity: 0;
}
.heart-regular:hover + .heart-solid path {
  opacity: 1;
}

footer {
  background-color: #272727;
  padding: 20px 0 30px;
}
footer .footer__container {
  height: 200px;
  max-width: 600px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-evenly;
}
footer .footer__container h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.25rem;
}
footer .footer__container a {
  color: white;
  display: flex;
  padding: 5px 0;
}
footer .footer__container a > * + * {
  margin-left: 12px;
}
footer .footer__container .separator {
  display: none;
}
@media screen and (min-width: 768px) {
  footer .footer__container {
    height: 100px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
  }
  footer .footer__container ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  footer .footer__container ul > * + * {
    margin-left: 12px;
  }
  footer .footer__container ul .separator {
    display: block;
    margin: 0;
    color: white;
  }
}

.body__container {
  background-color: #efefef;
}

.title__img {
  height: 300px;
  width: 100%;
  margin-top: 70px;
  object-fit: cover;
}
.title__img img {
  width: inherit;
  height: 100%;
  object-fit: cover;
}

.restaurant {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #efefef;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 30px 20px 0;
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
}
.restaurant > * + * {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .restaurant {
    padding-bottom: 30px;
  }
  .restaurant .restaurant__title--container {
    justify-content: center;
  }
}
.restaurant__title--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__title--container > * + * {
  margin-left: 30px;
}
.restaurant__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
  white-space: nowrap;
}
@media screen and (max-width: 350px) {
  .restaurant__title {
    white-space: normal;
  }
}
.restaurant__icon-container {
  height: 30px;
  width: 30px;
  position: relative;
}
.restaurant__icon-container svg {
  top: 5%;
  left: 0;
}
.restaurant__icon-container svg:hover {
  cursor: pointer;
}
.restaurant__menu--container > * + * {
  margin-top: 30px;
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
  .restaurant__menu--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .restaurant__menu--container > * + * {
    margin-top: 0;
  }
}
.restaurant__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding-bottom: 15px;
}
.restaurant__menu > * + * {
  margin-top: 20px;
}
.restaurant__menu--title {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  padding-bottom: 8px;
}
.restaurant__menu--title::after {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #99e2d0;
}
.restaurant__menu--list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.restaurant__menu--list > * + * {
  margin-top: 15px;
}
.restaurant__menu--item {
  height: 70px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  opacity: 0;
  transform: translateY(15px);
  position: relative;
  overflow: hidden;
  box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  animation: fade-in 1000ms forwards;
}
@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.restaurant__menu--item:hover {
  cursor: pointer;
}
.restaurant__menu--item:hover .restaurant__menu--item--check {
  visibility: visible;
  transform: translateX(0);
}
.restaurant__menu--item:hover .restaurant__menu--item--check i {
  transform: rotate(360deg);
}
.restaurant__menu--item:hover .restaurant__menu--item--title {
  width: calc(100% - 130px);
}
.restaurant__menu--item:hover .restaurant__menu--item--details p {
  width: calc(100% - 100px);
}
.restaurant__menu--item:hover .restaurant__menu--item--details span {
  transform: translateX(-70px);
}
.restaurant__menu--item:nth-child(2) {
  animation-delay: 200ms;
}
.restaurant__menu--item:nth-child(3) {
  animation-delay: 400ms;
}
.restaurant__menu--item:nth-child(4) {
  animation-delay: 600ms;
}
.restaurant__menu--item--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1%;
  transition: width 600ms;
}
.restaurant__menu--item--details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__menu--item--details p {
  width: 100%;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
  transition: width 600ms;
}
.restaurant__menu--item--details span {
  font-weight: 600;
  transition: transform 550ms;
  transition-delay: 50ms;
}
.restaurant__menu--item--check {
  height: 100%;
  width: 70px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 600ms;
  visibility: hidden;
}
.restaurant__menu--item--check i {
  color: white;
  font-size: 2rem;
  transform: rotate(0);
  transition: transform 600ms;
}
.restaurant .cta {
  align-self: center;
  width: 200px;
  font-size: 1rem;
}

/*# sourceMappingURL=menu.css.map */
