*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100%;
  width: 100vw;
  min-width: 280px;
  font-family: "Roboto", sans-serif;
}
body .body__container {
  height: inherit;
  width: inherit;
  min-width: 280px;
  position: relative;
}
body a {
  text-decoration: none;
  color: black;
}
body ul {
  list-style-type: none;
}

header {
  position: relative;
}
header h1 {
  width: 100vw;
  min-width: 280px;
  height: 70px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 10px 0;
  box-shadow: 0 5px 5px -5px #333;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
}
header .fa-chevron-left {
  position: fixed;
  left: 20px;
  top: 35px;
  transform: translateY(-50%);
  color: black;
  z-index: 200;
  font-size: 1.5rem;
}

.cta {
  padding: 15px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
}
.cta:hover {
  cursor: pointer;
}

footer {
  color: white;
  background-color: #272727;
  padding: 20px 20px 30px;
}
footer .footer__container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-evenly;
}
footer .footer__container h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.25rem;
}
footer .footer__container a {
  display: flex;
  gap: 12px;
  padding: 5px 0;
  color: white;
}

header i,
header i::before,
header i::after {
  display: none;
}
header .location {
  height: 100%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: lightgray;
  padding: 15px;
}
header .location:hover {
  cursor: text;
}

.hero {
  height: 270px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-color: #efefef;
  padding: 40px 0 60px;
}
.hero__text--container {
  height: 100%;
  width: inherit;
}
.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.hero__subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.intro {
  height: 100%;
  padding: 40px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
}
.intro__info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.intro__info--item {
  width: 100%;
  min-width: 280px;
  max-width: 800px;
  border-radius: 30px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  padding: 30px;
  position: relative;
  box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
}
.intro__info--item div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 10px;
}
.intro__info--item div i {
  font-size: 1.5rem;
  color: dimgrey;
}
.intro__info--item div p {
  font-weight: 500;
}
.intro__info--item::before {
  content: "1";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}
.intro__info--item:nth-child(2)::before {
  content: "2";
}
.intro__info--item:nth-child(3)::before {
  content: "3";
}
.intro__info--item:nth-child(3) {
  background-color: #e6e6fa;
}
.intro__info--item:nth-child(3) i {
  color: #9356dc;
}

.restaurants {
  height: 100%;
  background-color: #efefef;
  padding: 40px 20px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.restaurants__cards--container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.restaurants__card {
  width: 100%;
  max-width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  color: black;
  box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
}
.restaurants__card:hover {
  cursor: pointer;
}
.restaurants__card--img-container {
  height: 69%;
  width: 100%;
}
.restaurants__card--img-container img {
  width: inherit;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__card--description {
  padding: 10px 15px;
}
.restaurants__card--description h3 {
  line-height: 1.9rem;
}
.restaurants__card--description p {
  font-weight: 300;
}
.restaurants__card i {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 1.5rem;
  z-index: 20;
  color: black;
}
.restaurants__card span {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99e2d0;
  color: green;
  font-size: 0.9rem;
  padding: 10px 15px;
  border-radius: 3px;
  z-index: 10;
}

/*# sourceMappingURL=styles.css.map */
