$purple-primary: #9356dc;
$pink-primary: #ff79da;
$turquoise-primary: #99e2d0;
$font-title: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100%;
  width: 100vw;
  min-width: 280px;
  font-family: $font-text;
  .body__container {
    height: inherit;
    width: inherit;
    min-width: 280px;
    position: relative;
  }
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    list-style-type: none;
  }
}

//////////////////////////////////////////////////////////////////////////////
//                                HEADER
//////////////////////////////////////////////////////////////////////////////

header {
  position: relative;
  h1 {
    width: 100vw;
    min-width: 280px;
    height: 70px;
    font-family: $font-title;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 10px 0;
    box-shadow: 0 5px 5px -5px #333;
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    //   border: 1px solid red;
  }
  .fa-chevron-left {
    position: fixed;
    left: 20px;
    top: 35px;
    transform: translateY(-50%);
    color: black;
    z-index: 200;
    font-size: 1.5rem;
  }
}

//////////////////////////////////////////////////////////////////////////////
//                                CTA BUTTONS
//////////////////////////////////////////////////////////////////////////////
.cta {
  padding: 15px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background: linear-gradient(160deg, $pink-primary, $purple-primary);
  box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  -moz-box-shadow: -1px 10px 5px 0px rgba(74, 74, 74, 0.24);
  &:hover {
    cursor: pointer;
  }
}
//////////////////////////////////////////////////////////////////////////////
//                                FOOTER
//////////////////////////////////////////////////////////////////////////////

footer {
  background-color: rgb(39, 39, 39);
  padding: 20px 0 30px;
  .footer__container {
    height: 200px;
    max-width: 600px;
    padding: 0 30px;
    margin: 0 auto;
    @include flex-column-center();
    align-items: flex-start;
    justify-content: space-evenly;
    h2 {
      color: white;
      font-family: $font-title;
      font-size: 1.25rem;
    }
    a {
      color: white;
      display: flex;
      padding: 5px 0;
      // gap: 12px;
      > * + * {
        margin-left: 12px;
      }
    }
    .separator {
      display: none;
    }

    @media screen and (min-width: 768px) {
      height: 100px;
      width: 100%;
      max-width: 100%;
      align-items: center;
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        > * + * {
          margin-left: 12px;
        }
        .separator {
          display: block;
          margin: 0;
          color: white;
        }
      }
    }
  }
}
