@use "globals";
//////////////////////////////////////////////////////////////////////////////
//                                HEADER IMG
//////////////////////////////////////////////////////////////////////////////
.body__container {
  background-color: #efefef;
}
.title__img {
  height: 300px;
  width: 100%;
  margin-top: 70px;
  object-fit: cover;

  img {
    width: inherit;
    height: 100%;
    object-fit: cover;
  }
}

.restaurant {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #efefef;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 30px 20px 0;
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  // gap: 30px;
  > * + * {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
    .restaurant__title--container {
      justify-content: center;
    }
  }

  &__title--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 30px;
    > * + * {
      margin-left: 30px;
    }
  }
  &__title {
    font-family: globals.$font-title;
    font-size: 1.5rem;
    letter-spacing: 1px;
    white-space: nowrap;
    @media screen and (max-width: 350px) {
      white-space: normal;
    }
  }

  &__icon-container {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    height: 30px;
    width: 30px;
    background: globals.$btn-gradient;
    background-clip: text;
    -webkit-background-clip: text;

    &::before {
      content: "\f004";
      transition: all 400ms;
    }
    &:hover {
      cursor: pointer;
      &::before {
        color: transparent;
        background: globals.$btn-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
      }
    }
  }

  &__menu--container {
    > * + * {
      margin-top: 30px;
    }
    @media screen and (min-width: 1200px) and (orientation: landscape) {
      > * + * {
        margin-top: 0;
      }
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  &__menu {
    width: 100%;
    @include globals.flex-column-center();
    align-items: flex-start;
    padding-bottom: 15px;
    // gap: 20px;
    > * + * {
      margin-top: 20px;
    }

    &--title {
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      padding-bottom: 8px;
      &::after {
        content: "";
        height: 4px;
        width: 50px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: globals.$turquoise-primary;
      }
    }
    &--list {
      width: 100%;
      @include globals.flex-column-center();
      align-items: flex-start;
      // gap: 15px;
      > * + * {
        margin-top: 15px;
      }
    }
    &--item {
      height: 70px;
      width: 100%;
      background-color: white;
      border-radius: 20px;
      padding: 15px;
      opacity: 0;
      transform: translateY(15px);
      position: relative;
      overflow: hidden;
      @include globals.box-shadow();
      @include globals.fade-in-animation();
      &:hover {
        cursor: pointer;
        .restaurant__menu--item--check {
          visibility: visible;
          transform: translateX(0);
          i {
            transform: rotate(360deg);
          }
        }
        .restaurant__menu--item--title {
          width: calc(100% - 100px);
        }
        .restaurant__menu--item--details {
          p {
            width: calc(100% - 140px);
          }
          span {
            transform: translateX(-70px);
          }
        }
      }

      &:nth-child(2) {
        animation-delay: 200ms;
      }
      &:nth-child(3) {
        animation-delay: 400ms;
      }
      &:nth-child(4) {
        animation-delay: 600ms;
      }

      &--title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 1%;
        transition: width 600ms;
      }
      &--details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 15px;
          transition: width 600ms;
        }
        span {
          font-weight: 600;
          margin-right: 10px;
          transition: transform 550ms;
          transition-delay: 50ms;
        }
      }
      &--check {
        height: 100%;
        width: 70px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: globals.$turquoise-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: transform 600ms;
        visibility: hidden;

        i {
          color: white;
          font-size: 2rem;
          transform: rotate(0);
          transition: transform 600ms;
        }
      }
    }
  }
  .cta {
    align-self: center;
    width: 200px;
    font-size: 1rem;
  }
}
