@use "globals";

//////////////////////////////////////////////////////////////////////////////
//                                 LOADER
//////////////////////////////////////////////////////////////////////////////
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 200;
  background-color: lightgray;
  animation: 300ms disappear 2500ms forwards;
  @include globals.flex-column-center();
  justify-content: center;
  // gap: 10px;
  > * + * {
    margin-top: 10px;
  }
  @keyframes disappear {
    to {
      opacity: 0;
      z-index: -10;
    }
  }
  &__title {
    font-family: globals.$font-title;
    font-size: 3rem;
    opacity: 0;
    animation: 300ms fadein 1800ms forwards;
    @keyframes fadein {
      to {
        opacity: 1;
      }
    }
  }
  &__circle--container {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 10px;
    > * + * {
      margin-left: 10px;
    }
  }
  &__circle {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: globals.$turquoise-primary;
    transform: scale(0);
    animation: appear 750ms forwards ease-in;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    &:nth-child(2) {
      background-color: globals.$purple-primary;
      animation-delay: 350ms;
    }
    &:nth-child(3) {
      background-color: globals.$pink-primary;
      animation-delay: 700ms;
    }
    i {
      color: white;
      font-size: 2rem;
    }
    .fa-concierge-bell {
      font-size: 3rem;
    }
    @keyframes appear {
      0% {
        transform: scale(0);
      }
      90% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//                                 HEADER
//////////////////////////////////////////////////////////////////////////////

header {
  .fa-chevron-left,
  .fa-chevron-left::before,
  .fa-chevron-left::after {
    display: none;
  }
  .location {
    height: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 15px;
    // gap: 20px;
    > * + * {
      margin-left: 20px;
    }
    &:hover {
      cursor: text;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//                                  HERO
//////////////////////////////////////////////////////////////////////////////
.hero {
  height: 290px;
  min-height: 240px;
  @include globals.flex-column-center();
  justify-content: space-evenly;
  background-color: #efefef;
  padding: 40px 0 60px;
  // gap: 30px;
  > * + * {
    margin-top: 30px;
  }

  &__text--container {
    height: 100%;
    width: inherit;
  }
  &__title {
    @include globals.flex-column-center();
    margin-bottom: 10px;
  }
  &__subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 40px;
    > * + * {
      margin-top: 0;
      margin-left: 50px;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//                                  INTRO
//////////////////////////////////////////////////////////////////////////////

.intro {
  height: 100%;
  max-width: 550px;
  padding: 40px 20px 60px;
  @include globals.flex-column-center();
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0 auto;
  // gap: 30px;
  > * + * {
    margin-top: 25px;
  }

  &__info {
    height: 100%;
    width: 100%;
    @include globals.flex-column-center();
    justify-content: space-evenly;
    // gap: 20px;
    > * + * {
      margin-top: 20px;
    }
    &--item {
      width: 100%;
      min-width: 280px;
      max-width: 550px;
      border-radius: 30px;
      background-color: #efefef;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      padding: 30px;
      position: relative;
      opacity: 0;
      transform: translateY(20px);
      @include globals.box-shadow();
      @include globals.fade-in-animation();
      animation-delay: 2500ms;
      div {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        // gap: 25px;
        > * + * {
          margin-left: 25px;
        }
        i {
          font-size: 1.5rem;
          color: dimgrey;
        }
        p {
          font-weight: 500;
        }
      }
      &::before {
        content: "1";
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: globals.$purple-primary;
        color: white;
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
      }
    }

    &--item:nth-child(2) {
      animation-delay: 2700ms;
      &::before {
        content: "2";
      }
    }
    &--item:nth-child(3) {
      animation-delay: 2900ms;
      background-color: #e6e6fa;
      i {
        color: globals.$purple-primary;
      }
      &::before {
        content: "3";
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//                                RESTAURANTS
//////////////////////////////////////////////////////////////////////////////

.restaurants {
  height: 100%;
  background-color: #efefef;
  padding: 40px 20px 65px;
  margin: 0 auto;
  // gap: 20px;

  &__container {
    max-width: 550px;
    margin: 0 auto;
    @include globals.flex-column-center();
    align-items: flex-start;
    > * + * {
      margin-top: 25px;
    }
  }

  &__cards--container {
    height: 100%;
    width: 100%;
    @include globals.flex-column-center();
    // gap: 20px;
    > * + * {
      margin-top: 20px;
    }
  }
  &__card {
    width: 100%;
    max-width: 550px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    color: black;
    @include globals.box-shadow();
    &:hover {
      cursor: pointer;
    }
    &--img-container {
      height: 69%;
      width: 100%;
      img {
        width: inherit;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
    &--description {
      padding: 10px 15px;
      h3 {
        line-height: 1.9rem;
      }
      p {
        font-weight: 300;
      }
    }
    i {
      position: absolute;
      right: 30px;
      bottom: 30px;
      font-size: 1.5rem;
      z-index: 20;
      color: black;
    }
    span {
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: globals.$turquoise-primary;
      color: green;
      font-size: 0.9rem;
      padding: 10px 15px;
      border-radius: 3px;
      z-index: 10;
    }
  }
}
